@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap'); 
@font-face { font-family: 'hambak'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff'); font-weight: normal; font-style: normal; } 
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul, header, nav, section { margin:0; padding:0; font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box; } 
body,button,input,select,table,textarea { font-size:17px; } 
button,input { border-radius:0; border: none; background-color: transparent; cursor: pointer; } 
fieldset,img { border:0 } 
ol,ul { list-style:none } 
address,em { font-style:normal } 
a { text-decoration:none; cursor: none; } 
iframe { overflow:hidden; margin:0; padding:0; border:0 } 

.blind { display: none; } 

.cursor { width: 13px; height: 13px; border-radius: 50%; background-color: #ffee00; position: absolute; z-index: 60; top: 0; right: 0; transform: translate(-50%, -50%); transform-origin: 100% 100%; transition: transform 0.3s ease; transition-property: background, transform; } 

body { background-color: #3c3c3c; color: #fff; -ms-overflow-style: none; cursor: none;} 
::-webkit-scrollbar { display: none; } 

header { background-color: #3c3c3c; position: fixed; top: 0; width: 100%; z-index: 10; padding-bottom: 10px; } 
header nav a img { width: 70px; float: left; margin: 20px 0 0 40px; } 
header nav ul#gnb { position: static; float: right; text-align: center; margin-right: 50px; } 
header nav ul#gnb>li { display: inline-block; padding: 0; margin: 30px 30px 20px 30px; font-size: 15px; font-weight: bold; } 
header nav ul#gnb>li a { color: #fff; } 
header nav ul#gnb>li a:hover { color: #ff0; } 

footer::before { content: url(../source/logo_footer.png); } 
footer { background-color: #1c1c1c; color: #fff; font-size: 13px; padding: 20px; font-weight: lighter;} 
footer .account li { display: inline-block; margin: 15px 0; padding:0 20px; border-right: 1px solid #cfcfcf;}
footer .account li:first-child { padding-left: 0;}
footer .account li:last-child { border: none;}
footer .account li a {color: #b9b8b8;}
footer .account li a:hover {color: #ff0;}
footer address a {color: #fff;}
footer .copy { font-size: 11px; color: #b9b8b8; margin: 15px 0; } 
